<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ .Site.Config.base_url }}/#website",
      "url": "{{ .Site.Config.base_url }}",
      "name": "{{ .Site.Config.title }}",
      "description": "{{ .Site.Config.description }}",
      "publisher": {
        "@id": "{{ .Site.Config.base_url }}/#organization"
      }
    },
    {
      "@type": "Organization",
      "@id": "{{ .Site.Config.base_url }}/#organization",
      "name": "{{ .Site.Config.title }}",
      "url": "{{ .Site.Config.base_url }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Config.base_url }}{{ .Site.Config.extra.avatar }}"
      }
    }
    {{ if or (has_prefix .Page.Path "journal/") (has_prefix .Page.Path "books/") (has_prefix .Page.Path "photography/") }}
    ,{
      "@type": "BlogPosting",
      "@id": "{{ .Site.Config.base_url }}{{ .Page.Permalink }}#article",
      "headline": "{{ .Page.Config.title }}",
      "description": "{{ priority .Page.Config.description .Page.Summary .Site.Config.description }}",
      "datePublished": "{{ .Page.Config.date }}",
      {{ if not .Page.Config.updated.IsZero }}
      "dateModified": "{{ .Page.Config.updated }}",
      {{ end }}
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Config.extra.name }}"
      },
      "publisher": {
        "@id": "{{ .Site.Config.base_url }}/#organization"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Site.Config.base_url }}{{ .Page.Permalink }}"
      }
      {{ if .Page.Config.extra.img }}
      ,"image": {
        "@type": "ImageObject",
        "url": "{{ .Page.Config.img_url }}"
      }
      {{ end }}
    }
    {{ end }}
  ]
}
</script>
