{{ if .Page.Toc }}
<nav class="toc-nav" aria-labelledby="toc-title">
    <h2 class="toc-title" id="toc-title">On this page</h2>
    <ul>
        {{ range .Page.Toc }}
        <li>
            <a href="#{{ .ID }}">{{ .Title }}</a>
            {{ if .Children }}
            <ul>
                {{ range .Children }}
                <li><a href="#{{ .ID }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}