<!doctype html>
<html lang="{{ priority .Page.Config.lang .Section.Config.lang .Site.Config.lang }}">
    {{ template "partials/_head.html" . }}
    <body class="about-page">
        <a href="#main" class="skip-to-content">Skip to content</a>
        
        {{ template "partials/_header.html" . }}
        
        <main id="main">
            <div class="container">
                <article class="about-content">
                    <div class="about-header">
                        <img 
                            src="{{ .Site.Config.extra.avatar }}" 
                            alt="{{ .Site.Config.extra.name }}"
                            class="about-avatar"
                        />
                        <h1>About Pphot</h1>
                    </div>
                    
                    <div class="prose prose-about">
                        {{ .Page.Content }}
                    </div>
                </article>
            </div>
        </main>
        
        {{ template "partials/_footer.html" . }}
        
        <script src="/js/main.js"></script>
    </body>
</html>
