{{ template "partials/_open.html" (dict "Site" .Site "Page" .Page "Section" .Section "Class" "category-page") }}

        <main id="main">
            <div class="container">
                {{ template "partials/_taxonomy_term.html" (dict
                    "Title" (printf "#%s" .Page.Term)
                    "Pages" .Page.Pages
                    "IndexUrl" "/categories"
                    "IndexLabel" "categories"
                ) }}
            </div>
        </main>

{{ template "partials/_close.html" (dict "Site" .Site) }}
