{{ template "partials/_open.html" (dict "Site" .Site "Page" .Page "Section" .Section "Class" "section-page journal-page") }}

        <main id="main">
            <div class="container">
                {{ template "partials/_section_grid.html" (dict
                    "Site" .Site
                    "Title" .Site.Config.extra.journal_title
                    "Subtitle" .Site.Config.extra.journal_subtitle
                    "Posts" .Section.Children
                ) }}
            </div>
        </main>

{{ template "partials/_close.html" (dict "Site" .Site) }}