{{ template "partials/_open.html" (dict "Site" .Site "Page" .Page "Section" .Section "Class" "post-page") }}

        <div class="reading-progress" id="reading-progress" role="presentation"></div>

        <div class="post-wrapper">
            <main id="main">
                <article class="container">
                    {{ template "partials/_article.html" . }}
                </article>
            </main>
            <div class="toc-sidebar">{{ template "partials/_toc.html" . }}</div>
        </div>

{{ template "partials/_close.html" (dict "Site" .Site "Scripts" "/js/lightbox.js /js/comments.js") }}